/**
* Welcome to your ğ”²ğ”±ğ”¦ğ”©ğ”¦ğ”±ğ”¶ ğ”°ğ”±ğ”¶ğ”©ğ”¢ğ”°!
* This file includes utility classes that are super simple
* and can be used to add general styles; variable definitions
* for colors; and styles to html, body, and other high level
* DOMs.
* 
* All utility classes start with a `u-` and all do
* one basic CSS thing (for example, making the font-weight
* 600 for bolding) or are super generic.
* 
* This is ğ™‰ğ™Šğ™ the place to define classes for components or
* do rigorous styling. You shoud not need to change this file
* much.
*/

@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,600");

:root {
  --primary: #396dff;
  --primary--dim: #6987db;
  --darkgrey: #d4d4d4;
  --grey: #f7f7f7;
  --white: #fff;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

form {
  flex-grow: 1;
}

.u-flex {
  display: flex;
}

.u-flex-justifyCenter {
  justify-content: center;
}

.u-flex-alignCenter {
  align-items: center;
}

.u-bold {
  font-weight: 600;
}

.u-textCenter {
  text-align: center;
}

.u-pointer {
  cursor: pointer;
}

.u-link {
  color: var(--primary);
  text-decoration: none;
  cursor: pointer;
}

.u-link:hover {
  color: var(--primary--dim);
}
