/* Your Code Here! */

@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,600");

:root {
  --primary: #396dff;
  --grey: #f7f7f7;
  --white: #fff;

  --xs: 4px;
  --s: 8px;
  --m: 16px;
  --l: 24px;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

.u-textCenter {
  text-align: center;
}

.navContainer {
  padding: var(--s) var(--m);
  background-color: var(--primary);
}

.navTitle {
  color: var(--white);
  font-size: 20px;
  /* Below cancels out some of the default styling of h1 */
  margin: 0; 
  font-weight: normal;
}

.avatar {
  max-width: 100%;
  border-radius: var(--m);
}
