@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,600");

:root {
  --primary: #396dff;
  --grey: #f7f7f7;
  --white: #fff;

  --xs: 4px;
  --s: 8px;
  --m: 16px;
  --l: 24px;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

.u-flex {
  display: flex;
}

.u-textCenter {
  text-align: center;
}

.navContainer {
  padding: var(--s) var(--m);
  background-color: var(--primary);
}

.navTitle {
  color: var(--white);
  font-size: 20px;
  /* Below cancels out some of the default styling of h1 */
  margin: 0; 
  font-weight: normal;
}

.appContainer {
  /* TODO: Add a max width, padding, and margin so that
   * the content on the page isn't larger than 960px and
   * this div is centered if the browser is larger tahn 960px.
   */
}

.avatarContainer {
  /* padding makes the image only takes up 30% of the container */
  padding: 0 35%;
}

.avatar {
  /* make it responsive */
  max-width: 100%;
  width: 100%;
  height: auto;
  display: block;
  /* div height to be the same as width*/
  padding-top: 100%;

  /* make it a circle */
  border-radius: 50%;

  /* Add image */
  background-image: url("cat.png");

  /* Centering on image`s center*/
  background-position-y: center;
  background-position-x: center;
  background-repeat: no-repeat;

  /* it makes the clue thing, takes smaller dimension to fill div */
  background-size: cover;

  /* it is optional, for making this div centered in parent*/
  margin: 0 auto;
}

.name {
  /* TODO: Change the size and weight of the font so it feels
   * important!
   */
}

.line {
  /* TODO: Change the color of the line so that it's less weighty */
}

.subContainer {
  flex-grow: 1;
  flex-basis: 0;
}

.subContainer + .subContainer {
  /* TODO: Hmm, I wonder if this can be used to add spacing between
   * subContainers...
   * https://developer.mozilla.org/en-US/docs/Web/CSS/Adjacent_sibling_combinator
   */
}

.subTitle {
  /* TODO: Change the size and weight of the font so it feels
   * important! Optionally add some margin.
   */
}
