/* .Game-body {
  display: flex;
  background-color: #222222;
  align-items: center;
  justify-content: center;
  width: 80vw;
  height: 80vh;
  position: relative;
} */

.Game-winner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  background-color: #333333;
  color: white;
}
