.Profile-avatarContainer {
  padding: 0 35%;
}

.Profile-avatar {
  /* make it responsive */
  max-width: 100%;
  width: 100%;
  height: auto;
  display: block;
  /* div height to be the same as width*/
  padding-top: 100%;

  /* make it a circle */
  border-radius: 50%;

  /* Centering on image`s center*/
  background-position-y: center;
  background-position-x: center;
  background-repeat: no-repeat;

  /* it makes the clue thing, takes smaller dimension to fill div */
  background-size: cover;

  /* it is optional, for making this div centered in parent*/
  margin: 0 auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../../public/corgi.jpg");
}

.Profile-name {
  font-size: 2.4em;
  font-weight: 300;
}

.Profile-line {
  border-color: var(--grey);
}

.Profile-subContainer {
  flex-grow: 1;
  flex-basis: 0;
}

.Profile-subContainer + .Profile-subContainer {
  margin-left: var(--m);
}

.Profile-subTitle {
  font-weight: 300;
  font-size: 1.5em;
  margin: var(--m) var(--s);
}
