.CatHappiness-container {
  border: var(--darkgrey) 1px solid;
  border-radius: 4px;
  margin-top: var(--s);
}

.CatHappiness-container:first-of-type {
  margin-top: var(--m);
}

.CatHappiness-story {
  padding: var(--m) var(--s);
}

.CatHappiness-storyContent {
  font-size: 40px;
  margin: var(--s) 0 0;
}
