.LatestPost-container {
  border: var(--darkgrey) 1px solid;
  border-radius: 4px;
  margin-top: 0.75rem;
}

.LatestPost-container:first-of-type {
  margin-top: 1.5rem;
}

.LatestPost-story {
  padding: 1.5rem 1.75rem;
}

.LatestPost-storyUser {
  font-size: 20px;
  font-weight: 600;
}

.LatestPost-storyContent {
  font-size: 40px;
  margin: 0.5rem 0 0;
}
