.LatestPost-container {
  border: var(--darkgrey) 1px solid;
  border-radius: 4px;
  margin-top: var(--s);
}

.LatestPost-container:first-of-type {
  margin-top: var(--m);
}

.LatestPost-story {
  padding: var(--m) var(--s);
}

.LatestPost-storyUser {
  font-size: 20px;
  font-weight: 600;
}

.LatestPost-storyContent {
  font-size: 40px;
  margin: var(--s) 0 0;
}
