.Modal-background {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}

.Modal-container {
  width: 200px;
  text-align: center;
  border-radius: var(--s);
  background-color: var(--white);
  padding: var(--l);
}
