.NavBar-container {
  width: calc(100vw - 2 * var(--m));
  padding: var(--s) var(--m);

  background-color: var(--primary);
}

.NavBar-title {
  color: var(--white);
  font-size: 1.2em;
}

.NavBar-linkContainer {
  margin-left: 1.5rem;
}

.NavBar-link,
.NavBar-link:visited {
  color: var(--white);
  opacity: 0.6;
  text-decoration: none;
}

.NavBar-link:hover {
  opacity: 0.8;
}

.NavBar-link + .NavBar-link {
  margin-left: 1rem;
}
