.SingleMessage-container {
  margin: 0 0 var(--xs);
  max-width: 100%;
}

.SingleMessage-sender {
  width: 106px;
  margin-right: var(--xs);
  flex-shrink: 0;
}

.SingleMessage-content {
  padding: var(--s) var(--m);
  background: var(--medgrey);
  border-radius: var(--l);
  flex-shrink: 1;
  overflow-wrap: break-word;
  overflow-wrap: anywhere;
}

.SingleMessage-mine .SingleMessage-content {
  background: var(--primary--dim);
  color: var(--white);
}
